<% if @admin %>
  <h2>Привет <%= @user.username %></h2><br>
  Выберем категорию и класс для парсинга:
<% end %>
<div class="row mt-4">
  <%= render partial: "classifications/classification", collection: @classifications %>
</div>
